#task-indicator {
	width: 11rem;
	height: 1.8rem;

	background-color: var(--bg-1);
	border: var(--border) solid;
	border-radius: var(--round2);

	font-size: 0.9rem;

	box-shadow: var(--shadow-offset) var(--shadow-offset) black;

	position: relative;

	cursor: pointer;
}

#task-indicator-preview {
	display: grid;
	grid-template-columns: minmax(0, 0.2fr) minmax(0, 1fr);
	height: 100%;
	overflow: hidden;
}

#task-indicator-dot {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
}

#task-indicator-popup {
	position: absolute;
	bottom: calc(100% + 1rem);
	left: calc(50% - 25rem / 2);

	width: 25rem;
	max-height: 25rem;
	overflow-y: auto;
	overscroll-behavior: none;

	box-sizing: border-box;
	padding: 0.75rem;

	background-color: var(--bg2);
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);

	box-shadow: var(--shadow-offset) var(--shadow-offset) #0b0b0baa;
}

#task-indicator-messages {
	width: 100%;
	gap: 0.2rem;
}

.task-indicator-message {
	width: 100%;
}

.task-indicator-start-process {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 5fr);
}

#task-indicator-popup-progress {
	width: 85%;
}

#task-indicator-popup-cancel {
	position: absolute;
	left: 0.75rem;
	top: 0.7rem;
}