.package-description {
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: left;
	overflow: auto;
	color: var(--fg2);
	max-width: 100%;
}

.package-description img,
.package-description iframe {
	max-width: 100%;
	object-fit: contain;
}

.package-description div,
.package-description p {
	max-width: 100%;
	text-wrap: balance;
}

.package-description iframe {
	display: none;
}
