.package-filters {
	width: 100%;
}

.package-filters-tabs {
	height: 2rem;
	width: 100%;

	justify-content: flex-start;
	gap: 0;

	background-color: var(--transparent-dark);
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-filter-tab {
	height: 100%;
	width: 20%;

	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
	border-top: var(--border) solid transparent;
	border-bottom: var(--border) solid var(--bg3);
	box-sizing: border-box;
	font-weight: bold;

	cursor: pointer;
	transition: background-color 0.25s;
}

.package-filter-tab:hover {
	background-color: var(--bg2);
}

.package-filter-tab.selected {
	border: var(--border) solid var(--bg3);
	background-color: var(--bg);
	border-bottom-color: var(--bg);
	color: var(--package);
}

.package-filter-contents {
	width: 100%;
	min-height: 3.5rem;

	background-color: var(--bg);

	border: var(--border) solid var(--bg3);
	border-top: none;
	border-bottom-left-radius: var(--round);
	border-bottom-right-radius: var(--round);
	box-sizing: border-box;
}

.package-filter-tab-contents {
	width: 100%;
	justify-content: flex-start;
}
