.package-labels {
	justify-content: flex-start;
	gap: 0.9rem;
	color: var(--fg2);
}

.package-labels.small {
	gap: 0.7rem;
	font-size: 0.95rem;
}

.package-type,
.package-category,
.package-loader {
	gap: 0.4rem;
	text-wrap: nowrap;
}

.package-type.small,
.package-category.small,
.packge-loader.small {
	gap: 0.3rem;
}

.package-loader-icon > img {
	width: 1.5rem;
	height: 1.5rem;
}
