.package-versions {
	width: 100%;
}

.package-versions-header {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	margin-bottom: 0.5rem;
}

.package-versions-count {
	font-weight: bold;
	margin-left: 1rem;
	color: var(--fg3);
}

.package-version {
	display: grid;
	grid-template-columns: minmax(0, 0.7fr) minmax(0, 0.8fr) minmax(0, 0.7fr);

	width: 100%;
	height: 4rem;

	background-color: var(--bg);

	box-sizing: border-box;
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	cursor: pointer;

	transition: background-color 0.25s, transform var(--bubble);
}

.package-version:hover {
	background-color: var(--bg2);
	border-color: var(--bg4);
}

.package-version-mc-versions {
	/* font-weight: bold; */
	font-size: 1rem;
	gap: 0.2rem;
	line-height: 1;
	justify-content: flex-start;
}

.package-version-mc-versions > div {
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);
	padding: 0.35rem;
}

.package-version-name {
	justify-content: flex-start;
	color: var(--fg2);
	margin-left: 1.2rem;
}

.package-version-labels {
	justify-content: flex-end;
	margin-right: 1rem;
}

.package-version-labels:first-child {
	justify-content: flex-end;
	width: 100%;
}

.package-version-stability-indicator {
	width: 1rem;
	height: 1rem;
	border: var(--border) solid;
	border-radius: 50%;
	font-size: 0.8rem;
}
