.instance-console {
	width: 100%;
	height: 35rem;

	background-color: var(--bg);
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);
}

.instance-console-output {
	width: 100%;
	height: 30rem;
}

.instance-console-text {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1rem;

	justify-content: flex-start;
	align-items: flex-start;
	overflow: scroll;
	overscroll-behavior: contain;

	font-family: "Courier New", Courier, monospace;
	white-space: pre-wrap;

	-webkit-user-select: text;
	user-select: text;
}

.console-line.info {
	color: var(--fg3);
}

.console-line.warning {
	color: var(--warning);
	font-weight: bolder;
}

.console-line.error {
	color: var(--error);
	font-weight: bold;
}
