.running-instance-list {
	gap: 0.35rem;
	height: 100%;
	width: 100%;

	position: relative;
}

.running-instance-list-icon {
	width: 1.5rem;

	padding: 0.12rem;

	background-color: var(--bg2);

	border: var(--border) solid var(--bg3);
	border-radius: 50%;

	box-shadow: var(--shadow-offset) var(--shadow-offset) black;

	cursor: pointer;
}

.running-instance-list-icon:hover {
	background-color: var(--bg3);
	border-color: var(--bg4);
}

#running-instance-list-tip {
	position: absolute;
	bottom: calc(100% + 0.75rem);

	padding: 0.5rem;
	gap: 0.1rem;

	background-color: var(--bg);
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);
	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--transparent-dark);
}
