.instance-tiles {
	width: 100%;
	gap: 1rem;
}

.instance-tile-row {
	width: 100%;
	height: 15rem;

	display: grid;
	gap: 1rem;
}

.instance-tile-row.small-large {
	grid-template-columns: 1fr 2fr;
}

.instance-tile-row.large-small {
	grid-template-columns: 2fr 1fr;
}

.instance-tile-row.small-small {
	grid-template-columns: 1fr 1fr;
}

.instance-tile {
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	box-shadow: 0px 0px 0.5rem black;
}
