.profile-delete-prompt-entry {
	width: 100%;
	height: 3rem;
	padding: 0.5rem;

	display: grid;
	grid-template-columns: minmax(0, 0.5fr) minmax(0, 1fr);

	background-color: var(--bg2);

	box-sizing: border-box;
	border: var(--border) solid var(--bg3);
	border-radius: var(--round);

	cursor: pointer;
}

.profile-delete-prompt-entry-type {
	font-weight: bold;
}
