.dropdown-container {
	width: 100%;
	position: relative;

	--option-height: 2.5rem;
}

.dropdown-header {
	width: 100%;
	height: 2.3rem;
	box-sizing: border-box;

	background-color: var(--bg2);
	border: 0.15rem solid var(--bg3);
	border-radius: var(--round2);

	position: relative;

	transition: background-color 0.25s, border-color 0.25s;

	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.dropdown-header:hover {
	background-color: var(--bg3);
	border-color: var(--bg4);
}

.dropdown-header.open {
	border-color: var(--bg4);
	background-color: var(--bg);
}

.dropdown-search {
	width: 85%;
	height: 90%;
	background-color: transparent;
	border: none;
	box-shadow: none;

	padding-left: 2rem;
}

.dropdown-search-icon {
	position: absolute;

	height: 100%;
	aspect-ratio: 1;

	left: 0;
	top: 0;
}

.dropdown-arrow {
	position: absolute;
	right: 0.5rem;
}

.dropdown-options {
	width: 100%;
	position: absolute;
	top: calc(100% + 0.5rem);

	overflow-y: scroll;
	overscroll-behavior-y: contain;

	border-top: 0.15rem solid var(--bg4);
	border-bottom: 0.15rem solid var(--bg4);
	border-radius: var(--round2);

	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--transparent-dark);

	transition: max-height 0.3s, border-width 0.3s;
}

.dropdown-option {
	height: var(--option-height);

	border: 0.15rem solid var(--bg3);
	border-left-color: var(--bg4);
	border-right-color: var(--bg4);
	border-top: none;
	box-sizing: border-box;

	cursor: pointer;

	text-wrap: nowrap;
	overflow-x: hidden;

	transition: background-color 0.15s;
}

.dropdown-option.last {
	border-bottom: none;
}
