.icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: var(--border) solid;
	border-radius: var(--round2);
	transition: border-color 0.35s;

	user-select: none;
	-webkit-user-select: none;
}

.icon-button > svg {
	pointer-events: none;
}

.icon-button.circle {
	border-radius: 50%;
}
