.icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0.15rem solid;
	border-radius: var(--round);
	box-sizing: border-box;
	transition: border-color 0.35s;
}

.icon-button > svg {
	pointer-events: none;
}
