.search-bar > input {
	background: none;
	border: 0px;
	box-shadow: none;
	/* padding: 0.1rem; */
}

.search-bar > input:focus {
	border: 0px;
}

.search-bar {
	background-color: var(--bg0);
	padding: 0.2rem 0.6rem;
	border: var(--border) solid var(--bg3);
	border-radius: var(--round);
}

.search-bar-icon {
	margin-right: -0.6rem;
}
