.modal-container {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 11;
}

.modal-behind {
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 11;
}

.modal {
	z-index: 12;
	position: relative;

	background-color: var(--bg);

	border: 0.2rem solid var(--bg3);
	border-top-color: var(--bg4);
	border-left-color: var(--bg4);
	border-radius: var(--round2);
}