.modal-contents {
	width: 100%;
	height: 100%;
}

.modal-header {
	width: 100%;
	height: 2.5rem;
	position: relative;

	background-color: var(--bg2);
	border-bottom: var(--border) solid var(--bg3);

	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);

	font-weight: bold;
	font-size: 1.1rem;
}

.modal-x {
	position: absolute;
	right: 0.5rem;
}

.modal-body {
	width: 100%;
	padding: 2rem;
	box-sizing: border-box;
	overflow-y: auto;
}

.modal-buttons {
	display: grid;
	width: 100%;
	height: 2.5rem;

	background-color: var(--bg2);

	border-bottom-left-radius: var(--round2);
	border-bottom-right-radius: var(--round2);
}

.modal-button {
	height: 100%;

	font-weight: bold;
	border-top: var(--border) solid;

	box-sizing: border-box;
	cursor: pointer;
	transition: background-color 0.2s, border-color 0.2s;
}

.modal-button.first {
	border-bottom-left-radius: var(--round2);
}

.modal-button.last {
	border-bottom-right-radius: var(--round2);
}

.modal-button:not(.last) {
	border-right: var(--border) solid var(--bg4);
}
