#toasts-button {
	width: 12rem;
	height: 2rem;

	box-sizing: border-box;
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	background-color: var(--bg0);

	cursor: pointer;
}

#toasts-button:hover {
	background-color: var(--bg2);
}

#toasts-button.selected {
	border-color: var(--bg4);
}

#toasts {
	z-index: 15;
	position: fixed;
	right: 1rem;
	top: 3rem;
	width: 18rem;
}

.toast {
	width: 100%;

	position: relative;

	padding: 0.75rem;
	box-sizing: border-box;

	border: var(--border) solid;
	border-radius: var(--round2);

	align-items: flex-start;
	max-height: 20rem;

	overflow-y: scroll;
	white-space: pre-wrap;

	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--transparent-dark);

	transition: opacity 1s;
}

.toast.message {
	background-color: var(--bg2);
	border-color: var(--bg3);
	color: var(--fg);
}

.toast.success {
	background-color: var(--instancebg);
	border-color: var(--instance);
	color: var(--instance);
	font-weight: bold;
}

.toast.warning {
	background-color: var(--bg2);
	border-color: var(--warning);
	color: var(--warning);
	font-weight: bold;
}

.toast.error {
	background-color: var(--errorbg);
	border-color: var(--error);
	color: var(--error);
	font-weight: bold;
}

.toast-icon {
	margin-top: 0.25rem;
}

.toast-message {
	max-width: 12rem;
}

.toast-x {
	position: absolute;
	right: 0rem;
	top: 0rem;
	cursor: pointer;
	padding: 0.5rem;
}

.toast.fading {
	opacity: 0%;
}
