<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='__PRODUCT_GUID__' Name='Nitrolaunch' Language='1033' Version='0.31.0' Manufacturer='Nitro' UpgradeCode='__UPGRADE_GUID__'>
    <Package InstallerVersion='500' Compressed='yes' InstallScope='perMachine' />
    <MediaTemplate />
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder'>
        <Directory Id='INSTALLFOLDER' Name='Nitrolaunch' />
      </Directory>
    </Directory>
    <DirectoryRef Id='INSTALLFOLDER'>
      <Component Id='NitroExe' Guid='__COMPONENT_GUID__'>
        <File Id='NitroExeFile' Source='dist\\windows-x64\\Nitrolaunch.exe' KeyPath='yes' />
      </Component>
    </DirectoryRef>
    <Feature Id='DefaultFeature' Level='1'>
      <ComponentRef Id='NitroExe' />
    </Feature>
  </Product>
</Wix>
