.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100vw;
	--height: 2.5rem;
	height: var(--height);
	background-color: var(--bg0);
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	border-top: var(--border) solid var(--bg3);
}

#footer-left {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

#footer-selection-indicator {
	margin-left: 1rem;
	font-size: 0.8rem;
	justify-content: flex-start;
	font-weight: bold;
	overflow: hidden;
	text-wrap: nowrap;
}

#footer-center-inner {
	display: grid;
	grid-template-columns: minmax(0, 4rem) minmax(0, 4rem) minmax(0, 4rem);
	gap: 1rem;
	height: var(--height);
	margin-left: -4rem;
}

/* Action Button */

#footer-action-button-container {
	display: grid;
	grid-template-columns: minmax(0, 0.1fr) minmax(0, 0.8fr) minmax(0, 0.1fr);
	width: 8rem;
	height: 100%;
	cursor: pointer;
}

#footer-action-button {
	box-sizing: border-box;
	/* border-top: var(--border) solid; */
	font-weight: bold;
}

.footer-action-button-decorations {
	width: 100%;
	height: 100%;
}

#footer-action-button,
.footer-action-button-decoration {
	transition: background-color 0.25s, border-color 0.25s;
}

.footer-action-button-decoration {
	height: 25%;
	box-sizing: border-box;
	border-top: var(--border) solid;
}

.footer-action-button-decoration.left {
	border-left: var(--border) solid;
	border-top-left-radius: var(--round);
}

.footer-action-button-decoration.right {
	border-right: var(--border) solid;
	border-top-right-radius: var(--round);
}

.footer-action-button-decoration.right,
#footer-action-button {
	box-shadow: var(--shadow-offset) var(--shadow-offset) black;
}

#footer-right {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.footer-plugin-indicator {
	width: 1.5rem;
	height: 1.5rem;

	color: var(--plugin);

	border: var(--border) solid var(--plugin);
	border-radius: var(--round2);
	background-color: var(--pluginbg);
}

#footer-package-gallery {
	height: var(--height);

	overflow-x: scroll;
	overscroll-behavior: contain;

	position: relative;

	scrollbar-width: none;

	gap: 0.3rem;
}

.footer-package-gallery-entry {
	width: 2rem;
	aspect-ratio: 1;
	object-fit: cover;

	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	cursor: pointer;
}

#footer-package-gallery-preview {
	position: absolute;

	bottom: calc(100% + 0.5rem);
	left: 0;

	width: 100%;
}

#footer-package-gallery-preview>img {
	width: 20rem;

	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	background-color: var(--bg);

	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--transparent-dark);

	outline: 500rem solid var(--transparent-dark);
}