#navbar {
	position: fixed;
	width: 100%;
	height: 2.7rem;
	background-color: var(--bg);
	left: 0px;
	top: 0px;
	z-index: 5;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
	/* border-bottom: var(--border) solid var(--bg3); */
}

#navbar-container {
	display: grid;
	grid-template-columns:
		minmax(0, 0.45fr) minmax(0, 1fr) minmax(0, 1.45fr)
		minmax(0, 1.45fr);
	width: 100%;
	height: 100%;
}

.navbar-item {
	margin: 0px;
}

#navbar-container > h3 {
	margin: 0px;
	line-height: 0;
	margin-top: 0.15rem;
	text-shadow: var(--shadow-offset) var(--shadow-offset) var(--bg0);
	font-size: 1.4rem;
}

#navbar-gap {
	width: 100%;
	height: 3rem;
}

#navbar-buttons {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.navbar-button {
	height: 80%;
	font-weight: bold;
	box-sizing: border-box;
	border: var(--border) solid var(--bg);
	border-radius: var(--round2);

	transition:
		border-color 0.15s,
		background-color 0.35s,
		transform var(--bubble);
}

.navbar-button-text {
	font-size: 0.9rem;
	margin-bottom: -0.2rem;
}

#navbar-right {
	padding-right: 0.75rem;
}

#beta-indicator {
	position: absolute;
	right: -2.75rem;

	font-size: 0.75rem;
	color: var(--warning);
}
