#sidebar {
	position: fixed;
	background-color: var(--bg0);
	top: 2.7rem;
	left: 0rem;
	--width: 15rem;
	width: var(--width);
	height: 100%;
	box-sizing: border-box;
	border: var(--border) solid var(--bg2);
	border-left-width: 0px;

	overflow-x: hidden;
	overflow-y: auto;

	transition: width 0.2s;
}

.sidebar-item {
	height: 2.3rem;
	width: var(--width);
	border-bottom: var(--border) solid var(--bg2);
	justify-content: flex-start;
	box-sizing: border-box;

	font-size: 0.9rem;
	font-weight: bold;

	cursor: pointer;
	line-height: 1;

	overflow-x: hidden;

	transition: background-color 0.15s;
}

.sidebar-item svg,
.sidebar-item img {
	margin-left: 0.7rem;
}

.sidebar-item.selected,
.sidebar-item:hover {
	border-right: 0.3rem solid var(--fg2);
}

.sidebar-item:hover {
	background-color: var(--bg2);
}

.sidebar-item.sidebar-item.selected {
	background-color: var(--bg2);
	border-top-color: var(--fg3);
}

.sidebar-divider {
	height: 2.5rem;
	width: var(--width);

	padding-top: 0.8rem;
	box-sizing: border-box;

	border-bottom: var(--border) solid var(--bg2);

	color: var(--fg2);
	font-size: 0.8rem;
	font-weight: bold;
}
