.icon-text-button {
	border-radius: var(--round2);
	border: var(--border) solid transparent;
	padding: 0.5rem 0.6rem;
	height: 2.3rem;
	box-sizing: border-box;
}

.icon-text-button-text {
	line-height: 1;
}
