.page-button {
	width: 2.5rem;
	aspect-ratio: 1;

	border: var(--border) solid transparent;
	border-radius: var(--round2);

	cursor: pointer;

	font-weight: bold;


	transition: border-color 0.15s, transform var(--bubble);
}

.page-button:hover {
	background-color: var(--bg2);
	border-color: var(--bg3);
}

.page-button.selected {
	background-color: var(--bg3);
}