.derive-indicator {
	justify-content: flex-start;

	color: var(--template);
	font-weight: bold;
	font-size: 0.8rem;

	gap: 0.2rem;
}

.derive-indicator-asterisk {
	line-height: 0;
	font-size: 1.8rem;
	transform: translateY(0.2rem);
	font-family: "Times New Roman", Times, serif;
}
