#head {
	margin-bottom: 0px;
}

#subheader {
	margin: 0px;
	margin-bottom: 1rem;
	color: var(--fg3);
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.8rem;
	width: 100%;
}

.fields input {
	width: 100%;
}

.label {
	margin-bottom: -0.7rem;
	font-size: 0.8rem;
	font-weight: bold;
	margin-left: 0.2rem;
}

hr {
	width: 100%;
	border: 0px;
	border-top: var(--border) solid var(--bg3);
}

.template-placeholder::placeholder {
	color: var(--template);
}

.derived-option {
	color: var(--template);
	font-weight: bold;
}

#general-fields-header {
	display: grid;
	grid-template-columns: 1fr 4fr;
	width: 100%;
}
