#instance-list {
	width: 80%;
}

#instance-list-top {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1.5fr) minmax(0, 1fr);
}

#instance-list-header {
	gap: 2rem;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	text-align: center;
}

.instance-list-header-item {
	font-size: 1.5rem;
	font-weight: bold;
	border-style: solid;
	border-width: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.instance-list-header-item.instances {
	border-color: var(--instance);
}

.instance-list-header-item.profiles {
	border-color: var(--profile);
}

.instance-list-header-item.selected {
	border-bottom-width: 0.2rem;
	padding-bottom: 0.2rem;
}

.instance-list-header-item.instances.selected {
	color: var(--instance);
}

.instance-list-header-item.profiles.selected {
	color: var(--profile);
}

.instance-list-section-container {
	width: 100%;
	margin-bottom: 2.6rem;
	gap: 0;
}

.instance-list-section-header {
	/* margin-left: 1.8rem; */
	justify-content: flex-start;
	width: 100%;
}

.instance-list-section-header>svg {
	margin-bottom: 0.05rem;
	margin-left: 1.3rem;
}

.instance-list-section-header>h2 {
	line-height: 0;
	font-size: 1.2rem;
}

.instance-list-section {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.instance-list-item {
	background-color: var(--bg2);
	margin: 0.5rem;
	padding: 0.2rem;
	height: 4.8rem;
	text-align: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	border-radius: var(--round2);
	gap: 0.5rem;
	position: relative;
	border: var(--border) solid var(--bg3);
	border-top-color: var(--bg4);
	border-left-color: var(--bg4);

	transition: background-color 0.15s, border-color 0.25s, transform var(--bubble);
}

.instance-list-item-details {
	align-items: flex-start;
	gap: 0;
	overflow-x: auto;
	overflow-y: hidden;
}

.instance-list-item:hover {
	background-color: var(--bg3);
	border-right-color: var(--bg4);
	border-bottom-color: var(--bg4);
}

.instance-list-item.instance.selected {
	border-color: var(--instance);
	color: var(--instance);
	background-color: var(--instancebg);
}

.instance-list-item.profile.selected {
	border-color: var(--profile);
	color: var(--profile);
	background-color: var(--profilebg);
}

.instance-list-icon {
	width: 3rem;
	margin-left: 0.5rem;
}

.instance-list-pin {
	position: absolute;
	right: 0.8rem;
}