#head {
	margin-bottom: 0px;
}

#subheader {
	margin: 0px;
	margin-bottom: 1rem;
	color: var(--fg3);
}

#config-tabs {
	gap: 0rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	text-align: center;
	border-radius: var(--round);
	border: var(--border) solid var(--bg3);
}

.config-tab {
	font-size: 1rem;
	font-weight: bold;
	background-color: var(--bg0);
	padding: 0.4rem;
	width: 13rem;
	cursor: pointer;
	box-sizing: border-box;
	border: var(--border) solid var(--bg0);
}

#general-tab.selected {
	border-color: var(--instance);
}

#packages-tab.selected {
	border-color: var(--package);
}

#launch-tab.selected {
	border-color: var(--profile);
}

.fields {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 0.8rem;
	width: 35rem;
}

.fields input {
	width: 100%;
}

.label {
	margin-bottom: -0.7rem;
	font-size: 0.8rem;
	font-weight: bold;
	margin-left: 0.2rem;
}

hr {
	width: 100%;
	border: 0px;
	border-top: var(--border) solid var(--bg3);
}

.profile-placeholder::placeholder {
	color: var(--profile);
}

.derived-option {
	color: var(--profile);
	font-weight: bold;
}
