#packages-config {
	width: 50rem;
}

#packages-config-resolution-error {
	width: 100%;
	height: 10rem;
	overflow-y: auto;
	overscroll-behavior: none;

	margin-bottom: 1rem;

	border: var(--border) solid var(--error);
	border-radius: var(--round);

	background-color: var(--errorbg);
}

#package-config-filters>div {
	justify-content: flex-start;
}

#package-config-sides>div {
	justify-content: flex-end;
}

.package-config-filter {
	font-size: 0.8rem;
	font-weight: bold;
}

.filter-tip {
	color: var(--fg);
}

#configured-packages {
	width: 100%;
}

.configured-package {
	height: 4.5rem;
	width: 100%;
	display: grid;
	grid-template-columns: minmax(0, 0.4fr) minmax(0, 2fr) minmax(0, 1fr) minmax(0,
			1fr);
	background-color: var(--bg0);
	border: var(--border) solid var(--bg3);
	border-radius: var(--round);
	box-sizing: border-box;
}

.configured-package-icon {
	width: 2.5rem;
	border-radius: var(--round);
}

.configured-package-details {
	align-items: flex-start;
	gap: 0;
}

.configured-package-details-top {
	justify-content: flex-start;
}

.configured-package-name {
	justify-content: flex-start;
	font-size: 0.9rem;
	font-weight: bold;
}

.configured-package-repo {
	justify-content: flex-start;
	font-size: 0.8rem;
	font-weight: bold;
	color: var(--fg3);
	margin-top: -0.4rem;
}

.configured-package-version {
	gap: 0.2rem;

	font-size: 0.8rem;
	font-weight: bold;
	color: var(--fg3);
}

.configured-package-derive-indicator {
	width: 100%;
	height: 100%;

	color: var(--profile);
	font-size: 0.8rem;
	font-weight: bold;
}

.configured-package-controls {
	justify-content: flex-end;
	margin-right: 0.75rem;
}