.dropdown-container {
	width: 100%;
	position: relative;

	--option-height: 2.5rem;
}

.dropdown-darkener {
	position: absolute;
	left: 0px;
	top: 0px;

	pointer-events: none;

	outline: 900rem solid transparent;
	transition: outline-color 0.25s;
}

.dropdown-darkener.open {
	outline-color: #11111188;

	width: 100%;
	height: 100%;
}

.dropdown-header {
	width: 100%;
	height: 2.3rem;
	box-sizing: border-box;

	background-color: var(--bg2);
	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);

	position: relative;

	transition: background-color 0.25s, border-color 0.25s, transform var(--bubble);

	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.dropdown-header:hover {
	background-color: var(--bg3);
	border-color: var(--bg4);
}

.dropdown-header.open {
	border-color: var(--bg4);
	background-color: var(--bg);
}

/* Prevents mouseout events */
.dropdown-header::after {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 0.5rem;
}

.dropdown-search {
	width: 85%;
	height: 90%;
	background-color: transparent;
	border: none;
	box-shadow: none;

	padding-left: 2rem;
}

.dropdown-search:focus {
	outline: none;
}

.dropdown-search-icon {
	position: absolute;

	height: 100%;
	aspect-ratio: 1;

	left: 0;
	top: 0;
}

.dropdown-arrow {
	position: absolute;
	right: 0rem;
	padding: 0.5rem;

	border-radius: var(--round2);

	transition: background-color 0.25s;
}

.dropdown-arrow:hover {
	background-color: var(--bg2);
}

.dropdown-arrow.open {
	transform: rotate(90deg);
}

.dropdown-options {
	width: 100%;
	position: absolute;
	top: calc(100% + 0.5rem);

	box-sizing: border-box;

	background-color: var(--bg2);

	overflow-x: hidden;

	overflow-y: auto;
	overscroll-behavior-y: contain;

	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);

	box-shadow: var(--shadow-offset) var(--shadow-offset) var(--transparent-dark);

	transition: max-height 0.25s;
}

.dropdown-option {
	height: var(--option-height);

	border-bottom: var(--border) solid var(--bg3);
	box-sizing: border-box;

	cursor: pointer;

	text-wrap: nowrap;
	overflow-x: auto;

	transition: background-color 0.15s, transform var(--bubble);
}

.dropdown-option.last {
	border-bottom: none;
}