.inline-select {
	border-radius: var(--round);
	width: 100%;
	justify-content: flex-start;
	gap: 0.7rem;
}

.inline-select-option {
	position: relative;
	height: 2.3rem;

	border: var(--border) solid;
	border-radius: var(--round2);
	box-sizing: border-box;
	padding: 0.3rem;

	cursor: pointer;

	transition:
		border-color 0.25s,
		background-color 0.25s,
		color 0.25s,
		transform var(--bubble);
}

.inline-select-option.selected {
	font-weight: bold;
	background-color: var(--bg0);
}

.inline-select-checkbox {
	width: 0.8rem;
	aspect-ratio: 1;

	border: var(--border) solid transparent;
	border-radius: 50%;

	color: var(--bg);
}
