[Desktop Entry]
Name=Nitrolaunch
Comment=The supercharged Minecraft launcher
Exec=nitro_gui
Icon=nitro_gui
Terminal=false
Type=Application
Categories=Game;