[Desktop Entry]
Name=Nitrolaunch
Comment=The supercharged Minecraft launcher
Exec=Nitrolaunch
Icon=nitro_gui
Terminal=false
Type=Application
Categories=Game;