:root {
	--fg: #f6f6f6;
	--fg2: #d3d3d3;
	--fg3: #777777;
	--bg-1: #000000;
	--bg0: #101010;
	--bg: #161616;
	--bg2: #1d1d1d;
	--bg3: #2b2b2b;
	--bg4: #3a3a3a;
	--bg2disabled: #1b1b1b;
	--shadow: #121212;
	--text: var(--fg);
	--transparent-dark: #111111bb;

	--instance: #7ee91b;
	--template: #1be9e9;
	--package: #e9671b;
	--plugin: #5b65ff;
	--warning: #e9ca1b;
	--error: #d40e3d;

	--instancebg: #051d0d;
	--templatebg: #0d1f24;
	--packagebg: #311705;
	--pluginfg: #8b93ff;
	--pluginbg: #11143f;
	--errorbg: #2b0e14;
}
