:root {
	--fg: #f6f6f6;
	--fg2: #d3d3d3;
	--fg3: #777777;
	--bg-1: #000000;
	--bg0: #101010;
	--bg: #161616;
	--bg2: #1d1d1d;
	--bg3: #2b2b2b;
	--bg4: #3a3a3a;
	--bg2disabled: #1b1b1b;
	--shadow: #121212;
	--text: var(--fg);
	--transparent-dark: #111111bb;
}
