:root {
	--fg: #f6f6f6;
	--fg2: #d3d3d3;
	--fg3: #777777;
	--bg-1: #000000;
	--bg0: #0b0b0b;
	--bg: #131313;
	--bg2: #1d1d1d;
	--bg3: #2b2b2b;
	--bg4: #3a3a3a;
	--bg2disabled: #1b1b1b;
	--shadow: #0d0d0d;
	--text: var(--fg);
	--transparent-dark: #111111bb;
}
