#browse-packages {
	width: 95%;
}

#browse-header {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.repo {
	font-size: 0.7rem;
	font-weight: bold;
}

#browse-subheader {
	width: 100%;
}

#packages-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.8rem;
	width: 100%;
}

.package {
	background-color: var(--bg2);
	box-sizing: border-box;
	height: 18rem;

	border-radius: var(--round2);
	border: var(--border) solid var(--bg3);
	border-top-color: var(--bg4);
	border-left-color: var(--bg4);

	overflow-x: hidden;

	transition: background-color 0.25s, border-color 0.25s;
}

.package:hover {
	background-color: var(--bg3);
	border-color: var(--bg4);
}

.package.selected {
	border-color: var(--package);
	background-color: var(--bg);
}

.package-inner {
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 0.75fr);
	height: 100%;
	width: 100%;
	gap: 0.2rem;
}

.package-image-container {
	width: 100%;
	border-bottom: var(--border) solid var(--bg3);
}

.package-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-header {
	padding: 0.75rem;
	justify-content: center;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.1rem;
}

.package-name {
	font-weight: bold;
	margin-top: -0.25rem;
}

.package-description {
	overflow: hidden;
	color: var(--fg3);
	font-size: 0.9rem;
	line-height: 1.2;
}

.package-error {
	border: 0.2rem solid var(--error);
	border-radius: var(--round2);
}

#browse-gradient {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 15rem;
	z-index: -2;
	background-image: linear-gradient(var(--repo-color), transparent);
	opacity: 20%;
}
