#browse-packages {
	width: 100%;
	padding: 1.5rem;
	box-sizing: border-box;
}

#browse-header {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 100%;
}

.repo {
	font-size: 0.7rem;
	font-weight: bold;
}

#browse-subheader {
	width: 100%;
}

#browse-container {
	width: 100%;
}

#browse-container.alternate {
	display: grid;
	grid-template-columns: 1fr 3fr;
	height: 35rem;
	margin-top: -0.6rem;

	border: var(--border) solid var(--bg3);
	border-radius: var(--round2);
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	overflow: hidden;
	box-sizing: border-box;
}

#packages-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 0.8rem;
	width: 100%;
}

#packages-container.alternate {
	height: 100%;
	grid-template-columns: 1fr;

	gap: 0;
	border-right: var(--border) solid var(--bg3);

	overflow-y: scroll;
}

.package {
	background-color: var(--bg);
	box-sizing: border-box;
	height: 18rem;
	width: 100%;

	border-radius: var(--round2);
	border: var(--border) solid var(--bg3);
	border-top-color: var(--bg4);
	border-left-color: var(--bg4);

	overflow-x: hidden;

	--package-hover-color: var(--bg);

	transition:
		border-color 0.25s,
		transform var(--bubble),
		--package-hover-color 0.25s;
}

.package.alternate {
	height: 4rem;
	border: none;
	border-radius: 0;
}

.package:hover {
	background-color: var(--bg2);
	border-color: var(--bg4);
	--package-hover-color: var(--bg2);
}

.package.selected {
	border-color: var(--package);
	background-color: var(--bg);
}

.package.alternate.selected {
	background-color: var(--packagebg);
	border-top: var(--border) solid var(--package);
	border-bottom: var(--border) solid var(--package);
}

.package.selected .package-image {
	filter: brightness(110%);
}

.package-inner {
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 0.75fr);
	height: 100%;
	width: 100%;
	gap: 0.2rem;
}

.package.alternate>.package-inner {
	grid-template-rows: none;
	grid-template-columns: 4rem 1fr;
}

.package.alternate .package-image {
	border-radius: var(--round2);
	width: 3rem;
	height: unset;
	aspect-ratio: 1;
}

.package-image-container {
	position: relative;
	width: 100%;
}

.package.alternate .package-image-container {
	width: 100%;
	height: 100%;
}

.package-image-gradient {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(transparent,
			transparent,
			75%,
			var(--package-hover-color));
	position: absolute;
	top: 0;
	left: 0;
}

.package-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-header {
	padding: 0.75rem;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 0.1rem;
	box-sizing: border-box;
}

.package.alternate .package-header {
	height: 100%;
	justify-content: center;
	padding: 0;
}

.package-name {
	font-weight: bold;
	margin-top: -0.25rem;
}

.package.alternate .package-name {
	font-weight: normal;
}

.browse-package-description {
	overflow: hidden;
	color: var(--fg3);
	font-size: 0.9rem;
	/* line-height: 1.2; */
}

.package-error {
	border: 0.2rem solid var(--error);
	border-radius: var(--round2);
}

#package-preview {
	height: 100%;
	overflow-y: auto;
}

#browse-gradient {
	position: absolute;
	top: 0;
	width: 100%;
	height: 12rem;
	z-index: -2;
	background-image: linear-gradient(var(--repo-color), transparent);
	opacity: 20%;
}