.package-shadow {
	box-shadow: var(--shadow-offset) var(--shadow-offset) #111111bb;
}

#package-container {
	width: 97%;
}

#package-header-container {
	width: 100%;
	position: relative;
	justify-content: flex-start;
}

#package-header {
	display: grid;
	width: 100%;
	grid-template-columns: minmax(0, 0.08fr) minmax(0, 1fr);
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: var(--bg2);
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);
	overflow: hidden;
}

#package-icon {
	align-items: flex-start;
}

#package-icon-image {
	width: 4.3rem;
	height: 4.3rem;
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);
}

#package-details {
	margin-top: 0.25rem;
	margin-left: 0.5rem;
}

#package-upper-details {
	justify-content: flex-start;
}

#package-name {
	font-size: 1.3rem;
	font-weight: bold;
}

#package-id {
	color: var(--fg3);
	font-weight: bold;
}

#package-repo {
	padding: 0.3rem 0.5rem;
	border-radius: var(--round2);
	font-size: 0.7rem;
	font-weight: bold;
	line-height: 1;
}

#package-short-description {
	color: var(--fg3);
	justify-content: flex-start;
	margin-bottom: 0.1rem;
}

#package-banner-container {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: -2;
}

#package-banner {
	width: 100vw;
	object-fit: cover;
	height: 25rem;
}

#package-banner-gradient {
	position: absolute;
	top: 0rem;
	left: 0px;
	width: 100%;
	height: 25rem;
	background-image: linear-gradient(black, transparent, var(--bg));
}

#package-contents {
	display: grid;
	grid-template-columns: minmax(0, 1fr) 20rem;
	width: 100%;
	gap: 1rem;
	margin-top: 1.5rem;
}

#package-tabs {
	height: 2.5rem;
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	background-color: var(--transparent-dark);
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
}

.package-tab {
	border-top-left-radius: var(--round2);
	border-top-right-radius: var(--round2);
	font-weight: bold;
	border-top: var(--border) solid transparent;
	border-bottom: var(--border) solid var(--bg4);
	box-sizing: content-box;
	cursor: pointer;
}

.package-tab.selected {
	background-color: var(--bg2);
	border: var(--border) solid var(--bg4);
	border-bottom: var(--border) solid var(--bg2);
}

#package-tab-contents {
	background-color: var(--bg2);
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	min-height: 10rem;
	padding: 2rem;
}

#package-properties {
	background-color: var(--bg2);
	border: var(--border) solid var(--bg4);
	border-radius: var(--round2);
	min-height: 50rem;
	justify-content: flex-start;
	padding: 0.5rem;
}

.package-property {
	width: 100%;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 4fr);
}

.package-property-label {
	justify-content: flex-start;
	font-weight: bold;
	text-wrap: nowrap;
}

.package-property-value {
	justify-content: flex-end;
	text-align: right;
	margin-right: 0.5rem;
	color: var(--fg3);
	text-wrap: nowrap;

	user-select: text;
	-webkit-user-select: text;
}

#package-gallery {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	width: 90%;
	gap: 1.5rem;
}

.package-gallery-entry {
	width: 100%;
	height: 10rem;
	object-fit: cover;
	border: var(--border) solid var(--bg0);
	border-radius: var(--round2);
	cursor: pointer;
}

.package-gallery-entry:hover {
	outline: var(--border) solid var(--bg4);
}

#package-gallery-preview {
	width: 100%;
	border-radius: var(--round2);
}

.package-gallery-arrow {
	position: absolute;
	top: calc(50% - 1rem);

	width: 2rem;
	height: 2rem;

	color: var(--fg2);

	background-color: var(--bg2);
	border: var(--border) solid var(--fg3);
	border-radius: var(--round2);

	cursor: pointer;
}