name: Build
on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v4
      - name: Cache Cargo Deps
        id: cache-cargo-deps
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ matrix.target }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build CLI
        run: cargo build -p nitro_cli --release --verbose --locked
      - uses: actions/upload-artifact@v4
        name: Upload CLI artifact
        with:
          name: ${{ matrix.os }}
          path: target/release/nitro*
